.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%; /* Cambiado de 100vh a 100% para que se adapte al contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
  pointer-events: none; /* Permite clics a través del contenedor */
}

.lanyard-wrapper canvas {
  pointer-events: none; /* Permite que los clics pasen a través del canvas vacío */
}